<header >
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper container">
                <a href="#/" class="brand-logo">{{ 'company' | language:true }}</a>
                <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul ng-if="loggedIn" class="right hide-on-med-and-down">
                    <li><a href="#/posts">{{ 'posts' | language:true }}</a></li>
                    <li><a href="#/categories">{{ 'categories' | language:true }}</a></li>
                    <li><a ng-click="logout();" >{{ 'logout' | language:true }}</a></li>
                </ul>
                <ul ng-if="loggedIn" class="side-nav" id="mobile-demo">
                    <li><a href="#/posts">{{ 'posts' | language:true }}</a></li>
                    <li><a href="#/categories">{{ 'categories' | language:true }}</a></li>
                    <li><a ng-click="logout();" >{{ 'logout' | language:true }}</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>